server:
  port: 8082

spring:
  application:
    name: order-ms
  cloud:
    config:
      uri: http://config-server:8888
  datasource:
    url: jdbc:mysql://mysql:3306/appdb
    username: appuser
    password: apppass
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

eureka:
  client:
    service-url:
      defaultZone: http://discovery-server:8761/eureka/

management:
  endpoints:
    web:
      exposure:
        include: health,info
