spring:
  application:
    name: product-ms
  datasource:
    url: jdbc:mysql://localhost:3306/appdb
    username: root
    password: root
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
server:
  port: 8083
